apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: | # in YAML syntax, | indicates a multi-line string
    server {
      listen 80;
        location / {
          proxy_pass http://frontend:8080;
        }
        location /petclinic/api/ {
          proxy_pass http://backend:9966/petclinic/api/;
        }
    }